# Client flag (must be prefixed with VITE_ for Vite)
# VITE_PROTOYPE MUST BE SET TO FALSE FOR THE AUTCOMPLETE AND MAPS COMPONENTS TO WORK CORRECTLY.
VITE_PROTOTYPE=FALSE

# server base URL
VITE_API_BASE=http://localhost:4000

# Maps key only used when VITE_PROTOTYPE=FALSE
VITE_GOOGLE_MAPS_API_KEY=your_api_key
