.list-pagination {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: center;
  flex-wrap: wrap;
}

.list-pagination-text {
  font-size: 0.875rem;
  color: var(--cds-text-secondary, #c6c6c6);
}

.list-pagination-actions {
  display: flex;
  gap: 0.5rem;
}
